#storeList {
	position:absolute;
	z-index:20;
	left:25px;
	top:25px;
	background:white;
	width:300px;
	background-color: #F8F8F8;
	border: 2px solid #004080;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
}

#storeList .search {
	background-color: #F0F0FF;
	padding:10px;
	border-top-right-radius:2px;
	-moz-border-radius-topright:2px;
	-webkit-border-top-right-radius:2px;
	border-top-left-radius:2px;
	-moz-border-radius-topleft:2px;
	-webkit-border-top-left-radius:2px;
	border-bottom:1px solid #004080;
}

#storeList input[name=address] {
	border: 1px solid #CCC;
	padding: 4px;
	width: 225px;
	margin: 0 6px 0 0;
}

#storeList .list {
	list-style: none;
	padding: 0;
	margin: 0;
	height:251px;
	overflow:auto;
}

#storeList .list li, .info-window {
	font-family:Arial, Helvetica, sans-serif
}

#storeList .list li:first-child {
	border:none;
}

#storeList .list li {
	cursor:pointer;
	padding: 10px;
	border-top:1px solid #004080;
	position:relative
}

#storeList .list li.alt {
	background:#eaeaea;
}

#storeList .list .title, .info-window .title {
	font-size: 22px
}

#storeList .list div, .info-window div {
	font-size: 12px;
	margin-bottom: 3px
}

#storeList .list .distance {
	position:absolute;
	right:10px;
	top:45%
}

#mapCanvas {
	position:absolute;
	width:100%;
	height:100%;
	min-height:90%;
	left:0px;
	top:0px;
	z-index:1;
	border:0;
	padding:0;
	margin:0;
}
